body {
    margin: 0;
    background-color: #fffff0;
}


/* __________________________________________________________________contactpage_____________________________________________ */
.contactinfo {
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
    color: #000;
  
}
.Register{           /* inside contacthtml, head of the page*/
    margin-left: 2.4%;
}
.footer {padding: 72px 0 ;
         background: #778899;  
        }
.footerholder{width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: 50px;
  color: whitesmoke;
}       
.contacthead{font-size: 30px;
color: whitesmoke;}

.newsletter{position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;} 
  

.fontt{ 
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
    
   }
   .attribute::after{
    content: "";
    display: table;
    clear: both;
  }
  label {
  display: inline-block;
}
input[type=text], select, textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #696969;
    border-radius: 10px;
    resize: vertical;
  }

   .column10 {
    float: left;
    width: 75%;
    margin-top: 10px;
  }
   
  .column20{
    float: left;
    width: 75%;
    margin-top: 10px;
  }


  .wrapper{
    border-radius: 15px;
    background-color: #f8f8ff;
    padding: 10px;
    margin: 10PX;
  }


  .text-box {
    width: 95%;
    height: 20px;
    padding: 10px;
    border-radius: 10px;
}
.submitbut { 
    background-color: inherit;
    padding:15px 5%;
    font-size: 16px;
    cursor: pointer;
    color: #ff4500;
    border:none; 
 }                                               /* efsefsefsefssfsfsdfs*/
   .submitbut:hover{background: #778899;
                    transition: 800ms;}
.section{ 
     padding: 1%;}



 @media screen and (max-width: 600px) {
        .col-35, .col-100, input[type=submit] {
          width: 100%;
          margin-top: 0;
        }
      }




 /* ____________________________________________________________contactpage____________________________________________   */ 

/*____________________________________________________________indexpage___________________________________________*/
 strong {color: #de5d83;}   
.para1 {
    font-size: 20px;
    text-align-last: justify;
    width: 80%;
}

table,th,td{border:2px solid black;
    border-collapse:collapse;
}
   td{
      height: 50px;}
tr:hover {background-color:#8a2be2;}

.onhover-change:hover{
    color: #ff00ff;
    transition: 100ms;
    text-decoration:solid;
}

   

nav ul li{
    display: inline-block;
    list-style-type: none;
  
    margin:5px 20px;
    
    
    
}
nav ul li a{
    display: block;
  color:#f8f8ff;
  text-align: center;
  padding: 8px 50px;
  text-decoration: none;
  font-size: 20px;
  position: relative;
}



nav {
    margin-bottom: 8px;
    background-color:#778899 ;
    position: sticky;  
    padding: 5px;
    
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}


nav ul li a::after{content: '';
                  width: 0;
                  height: 8px;
                  background:#b0c4de;
                  position:absolute;
                  left: 0;
                  bottom: -21px;
                  transition: 0.5s;
            }


nav ul li a:hover::after {
            width: 100%;}        
            


h1 {margin-left: 20px;} /*contact information*/

img {height: auto;
    width: 200px;
    display: block;
    margin-left: 50px;
    border-radius: 10%;
}

.div-multi-inner-child{
    display: flex;
    flex-direction: row;
    justify-content: left;
    
    
}
.div-inner-child{
    padding: 20px;
    }

.font{
    font-family: serif;
    font-style: italic;
    font-size:xxx-large;
    margin-top: 15px;
}

.head1 {
    text-align: center;
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: 2px; 
    animation: 
      typing 2s steps(30, end),
      blink-caret .5s step-end infinite;
  }
               


   @keyframes typing {        
    from { width:0}      
    to { width: 100% }
     }     
  



