body {
    margin: 0;
    background-color: #fffff0;
}

strong {color: #de5d83;}

.contactinfo {
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
}


.fontt{ 
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 10px;
   
}
.para1 {
    font-size: 20px;
    text-align-last: justify;
    width: 80%;
}

table,th,td{border:2px solid black;
    border-collapse:collapse;
}
   td{
      height: 50px;}
tr:hover {background-color:#8a2be2;}

.onhover-change:hover{
    color: #ff00ff;
    transition: 100ms;
    text-decoration:solid;
}

   

nav ul li{
    display: inline-block;
    list-style-type: none;
    max-width: 10px 20px;
    
    
    
}
nav ul li a{
    display: block;
  color:#f8f8ff;
  text-align: center;
  padding: 8px 50px;
  text-decoration: none;
  font-size: 20px;
  position: relative;
}



nav {
    margin-bottom: 8px;
    background-color:#778899 ;
    position: sticky;  
    padding: 5px;
    top: 0;
    
    
}


nav ul li a::after{content: '';
                  width: 0;
                  height: 8px;
                  background:#b0c4de;
                  position:absolute;
                  left: 0;
                  bottom: -21px;
                  transition: 0.5s;
            }


nav ul li a:hover::after {
            width: 100%;}        
            
.text-box {
    width: 200px;
    height: 20px;
    padding: 10px;
}
.submitbut { 
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    color: #ff4500;
    border: none;
    
   
   }                                               /* efsefsefsefssfsfsdfs*/
   .submitbut:hover{background: #778899;
                    transition: 800ms;}
.section{ 
     padding: 1%;}

h1 {margin-left: 10px;}

img {height: auto;
    width: 200px;
    display: block;
    margin-left: 50px;
    border-radius: 10%;
}

.div-multi-inner-child{
    display: flex;
    flex-direction: row;
    justify-content: left;
    
    
}
.div-inner-child{
    padding: 20px;
    }

.font{
    font-family: serif;
    font-style: italic;
    font-size:xxx-large;
    margin-top: 15px;
}

.head1 {
    text-align: center;
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: 2px; 
    animation: 
      typing 2s steps(30, end),
      blink-caret .5s step-end infinite;
  }
               


   @keyframes typing {        
    from { width:0}      
    to { width: 100% }
     }     
  



