body {
    margin: 0;
    background-color: #fffff0;
    box-sizing: border-box;
}
/* __________________________________________________________________contactpage_____________________________________________ */
section{
  padding: 50px 20%;
}

.Register-form h1{
  font-size: 50px;
  margin-bottom: 15px;
}
.Register-form p{
  letter-spacing: 1px;
  font-size: 20px;
  margin-bottom: 40px;
  line-height: 22px;
}
.Register-form form{
  position: relative;
}
.Register-form form input,
form textarea{
  border: none;
  outline: none;
  padding:20px;
  width: 100%;
  background: #f8f8ff;
  font-size: 20px;
  color: #233142;
  margin-bottom: 10px;
  border-radius: 50px;
}
.Register-form form .Sendbut{
  width: 200px;
  height: 50px;
  display: inline-block;
  font-size: 20px;
  letter-spacing: 2px;
  background: #e8630a;
  font-weight: bolder;
  border-radius:50px ;
  border: none;
  outline: none;
  cursor: pointer;
  color: #f8f8ff;
}
.Register-form form .Sendbut:hover{
  background: #2772db;
  color: #222831;
  transition: 900ms;
  border: 2px solid #7c73e6;
}

@media only screen and (max-width: 600px){
    section{
      padding: 80px 3.5%;
    }
    .Register-form form input,
    form textarea{
      width: 91%;
    }
    .Register-form h1{
      font-size: 65px;
      margin-left: 13px;
    }
    .Register-form p{
      margin-bottom: 40px;
      margin-left: 13px;
    }
    .Contact-Webpage{
      margin-top: -145px;
    }

}












     
     /*Footer starts here*/
.footer {padding: 72px 0 ;
      background: #778899;  
      width: 100%;
      color: #fffff0;
      display: flex;
      justify-content: center ;
      flex-wrap: wrap;
      margin: 0 auto;
      }



.footerholder{width: 100%;
          padding: 60px 0 40px 0;
          margin-right: auto;
           margin-left: 50px;
           color: whitesmoke;
          padding-bottom: 16px;
          background: #778899; 
     }       
     
.footerheading{
display: flex;
flex-direction: column;
margin: 60px;
}         
.footerheading h2{
margin-bottom: 30px;
}
.footerheading a{
color: #f8f8ff;
text-decoration:none;
margin-bottom: 5px;
}
.footerheading a:hover{
color: #ff4500;
transition: 800ms;
}
.newsletter h2 {
margin-bottom: 30px;
}
#emailfooter{
width: 200px;
height: 35px;
border-radius: 10px;
border: none;
padding-left: 5px;
font-size: 15px;
margin-bottom: 15px;
}
#emailfooterbutton{
width: 90px;
height: 35px;
border-radius: 10px;
cursor: pointer;
border: none;
font-size: 15px;
color: #fffff0;
background-color: #d3d3d3;
}
#emailfooterbutton:hover{
background-color: #000;
transition: 800ms;
}



 @media only screen and (max-width: 600px) {
        
        nav {
          display: none;         /*FOR NAV BAR*/
          visibility: hidden;
        }
        .portfolioheadertext h1{ text-align: center;}      /*PORFOLIOPAGE*/
        .placeholdergallery img {
          max-width: 100%; /*PORFOLIOPAGE*/
        }
        .portfolioholder .gallery{/*PORFOLIOPAGE*/
          text-align: center;
          
        }
        .footerheading{                    /*FOOTER*/
          margin-top: -30px;
          text-align: center;
        }
       .footer2{
        margin-left: 60px;                     /*FOOTER*/
        text-align: center;
        }
      .footer3{
        text-align: center;                        /*FOOTER*/
      }
      .newsletter{
        text-align: center; /*FOOTER*/
      }
      
        
      }


 /* ____________________________________________________________contactpage____________________________________________   */ 

/*____________________________________________________________indexpage___________________________________________*/
*{
  margin:0;
 

}
body{
color: black;

}
#headerr{
  width: 100%;
  height: 800px;
  background-image:url(https://zumedia.wpenginepowered.com/wp-content/uploads/2020/09/samantha-gades-BlIhVfXbi9s-unsplash-2048x1367.jpg);
  background-size: cover;
  background-position: center;
  
  
}
.box{                /*CONTAINER*/
  padding: 20px 11%;
  
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
 
  
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}
nav ul li a {
  color: #000000;
  font-weight: 900;
  font-size: 18px;
  text-decoration: none ;
  
  
  
}

nav ul li a:hover{
  background: #de5d83;
  border-radius: 4px;
  transition: 400ms;
  color: ivory;
 
  
}
.headerrtext{ 
  margin-top: 20%;
 

}
.headerrtext h1 {
  font-size: 58px;
  margin-top: 30px;
  letter-spacing: 1px; 
  animation: fadein 6s;
  }
  @keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
    
  }
  
.headerrtext h1 span {
  color: #de5d83;
  animation:textshadowing 3s infinite;
}
@keyframes textshadowing {
  30% {text-shadow: -1px 3px 5px #f76b8a;}
}
/*___________________About me starts from here_________________________*/
#Aboutme{ 
  padding:70px 0 ;
  color:black;
}.row{
 
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  
}

.about-column1{
  flex-basis:30%;
  

}
.about-column1 img{
 
  border-radius: 10px;
  height: 400px;
  width: auto;
}
.about-column2{
  flex-basis: 60%;
  
}
.title{
  font-size: 60px;
  font-weight: 600;
  color: #000000; 
}

.tabs {  margin: 25px 0 0;}
.tabtitle {display: flex;
margin-right: 40px;}
.skills ul li {margin: 10px 0 0 10px;}  

.Education ul li span{color:	#ff4500;}     
.Education ul li {margin: 10px 0 0 10px;}

.Experience ul li {margin: 10px 0 0 10px;}
.Experience ul li span{color:	#ff4500;}        
   


.skills h2 {margin-left: 36px;
text-decoration: underline;}
.Education h2 {margin-left: 36px;
text-decoration: underline;}
.Experience h2 {margin-left: 36px;
text-decoration: underline;
}
@media only screen and (max-width:600px) {
  .headerrtext{
    margin-top: 95%;
    
  }
  .headerrtext h1 {
    font-size: 45px;
  }
  #header{
    background-image: url(./phonewallper.jpg);
  }
 .title{
  font-size: 35px;
 }
 .title{
 text-align: center;
 }
 .aboutme-p{ 
  text-align: justify;
  font-size: 15px;
 }
 
 .about-column2{
 flex-basis: 90%;
  font-size: 10px;
  margin-left: -20px;
 }
 .about-column1{
  flex-basis: 90%;
  margin-bottom: -550px;
 }
.about-column1 img{
  height: 40%;
  max-width: auto;
  margin-left: 0px;
} 
.skills h2{ font-size: 15px;}
.skills{
  margin-right:-30px;
}
.Education{
  margin-right: -30px;
}
.Experience{
  margin-right: -30px;
}
.Education h2{font-size: 15px;}
.Experience h2{font-size: 15px;}
.skills ul li{ font-size: 12px;}
.Education ul li{ font-size: 12px;}
.Experience ul li{ font-size: 12px;}
}




/*____________________________________________________________indexpage___________________________________________*/

/*--------------------------------------------------------------portfoliopage-----------------------------------*/
#portfolioheader{
  width: 100%;
  height: 600px;
  background-image:url(./garrett-sears-rXVFCA3fQ4I-unsplash.jpg);
  background-size: cover;
  background-position: center;
  overflow-wrap: inherit;
  
}

.portfolioheadertext{       /*-----------------------------PORTFOLIOHEADERTEXT STARTS HERE AFTER MAKING THE NAV AND PORFOLIOHEADER------------*/
  margin-top: 20%;
  animation: slidingin 2s ;

}                                       
@keyframes slidingin {
  from{
    margin-left: 95%;
  }
  to{
    margin-left: 0%;
  }
  }
.portfolioheadertext h1 {                 /*-----------------------Portfolioheadertext 11-------------------------*/
  font-size: 60px;
  margin-top: 20px;
  letter-spacing: 1px; 

  }
 .portfolioholder{                   /*------------------------------PORTFOLIOHOLDER-----------------*/
  width: 100%;
  text-align: center;
 } 
 .gallery {                         /*-------------------------gallery is the H1 CLASS FOR Gallery----------------*/
  margin: 40px;
  
 }

.placeholdergallery{                          /*----------------------------------DISPLAY GRID STARTS HEERE TO SEPERATE THE IMAGES INTO COLUMN--------------*/
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 40px;
  
  
}


.scenery{                                       /*-------------------------CONTENT INSIDE DIV CLASS PLACEHOLDERGALLERY-----------------------*/
  position: relative;
  box-shadow: #000000;
  cursor: pointer;
  
}

.scenery:hover{                                     /*-------------------------CONTENT INSIDE DIV CLASS PLACEHOLDERGALLERY-----------------------*/
  background: #778899;
  transition: 800ms;
  opacity: 0.4;
}



.Canada{                                                    /*-------------------------CONTENT INSIDE DIV CLASS PLACEHOLDERGALLERY-----------------------*/
  position: relative;
  box-shadow: #000000;
  cursor: pointer;
}


.Canada:hover{                                     /*-------------------------CONTENT INSIDE DIV CLASS PLACEHOLDERGALLERY-----------------------*/
  background: #778899;
  transition: 800ms;
  opacity: 0.4;
}

.family{                                               /*-------------------------CONTENT INSIDE DIV CLASS PLACEHOLDERGALLERY-----------------------*/
  position: relative;
  box-shadow: #000000;
  cursor: pointer;
}
.family:hover{                                         /*-------------------------CONTENT INSIDE DIV CLASS PLACEHOLDERGALLERY-----------------------*/
  background: #778899;
  transition: 800ms;
  opacity: 0.4;
}


/*------------------------------------------------PORTFOLIOPAGE--------------------------------------------*/

/*-------------------------------------------------------------------------WORK EXPERIENCE PAGE------------------------------------------------------*/
.myexperiences{
  display: grid;
  justify-content: center;       /* INCLUDES PHOTOGRAPHY 1,2 AND 3*/
  flex-wrap: wrap;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0px;
  
  
}

.myhead{
  margin: 50px;                        /* THIS IS myhead */
text-align: center;
animation: textshadowing 3s infinite;}
@keyframes textshadowing {
  30% {text-shadow: -1px 3px 5px #113f67;}
}
.myfadedhead{
  margin: 50px;                            
  text-align: center;                    /* THIS IS myfadedhead*/
  color: #9ba6a5;
}

.Photography1{
  width: 400px;                  /* INCLUDES PHOTOGRAPHY 1,2 AND 3*/
  height: 600px;
  margin: 0 15px;
  text-align: center;
  


}
.Photography2{
  width: 400px;
  height: 600px;                         /* INCLUDES PHOTOGRAPHY 1,2 AND 3*/
  margin: 0 15px;
  text-align: center;

}
.Photography3{
  width: 400px;
  height: 600px;                         /* INCLUDES PHOTOGRAPHY 1,2 AND 3*/
  margin: 0 15px;
  text-align: center;
    

}

.photo1{                            /* ADJUSTMENTS TO photo1*/
  height: 250px;
  width: 400px;
}
.jobholder{                          /* IT IS A CONTAINER THAT CONTAINS .job, .leapfrog and .OCBC*/
  margin-top: -180px;
}
.job{                                               /* ADJUSTMENTS TO .jobs*/
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  
}
.leapfrog{margin-left:50px ;                             /* ADJUSTMENTS TO .leapfrog*/
  }
.leapfrog h3 {padding: 5px;}

.OCBC{margin-left: 50px;                                    /* ADJUSTMENTS TO .OCBC*/
}
.OCBC h3{padding: 5px;}

@media only screen and (max-width: 600px) {
  .myexperiences{
    margin-left: -14px;
  }
  .myhead{margin-top: -100px;
  text-align: center;}
  .myfadedhead{text-align: justify;}
  .Photography2{margin-top: -250px;}
  .Photography3{margin-top: -250px;}
  .leapfrog{
    text-align: center;
    margin-left: 10px;}
    .OCBC{margin-left: 10px;}
    .job{margin-top: -100px;}
 .photo1{
  height: 250px;
  width: 350px;
 }
  
}